---
import WorkLayout from "../../layouts/WorkLayout.astro";
import ClicableImage from "../../components/ClicableImage";
const content = {
  title: "Hello World",
  body: "This is a test",
};

const baseImgUrl = "../../../public/36days/";
---

<WorkLayout {content}>
  <div slot="description">
    <h1 class="mb-8 text-4xl font-bold">36 Days of Type</h1>
    <p class="prose prose-neutral font-sans text-xl dark:prose-invert">
      Este projeto pessoal surge do desafio 36 days of type, onde conjugo as
      minhas duas áreas de interesse, ilustração e tipografia. Este projeto tem
      sido bastante desafiante e gratificante e o seu desenvolvimento pode ser
      acompanhado em <a
        class="cursor-none no-underline hover:cursor-none hover:text-blue-500 hover:no-underline"
        href="https://www.instagram.com/ah_sofs">@ah_sofs</a
      > no instagram
    </p>
  </div>
  <div slot="images">
    <ClicableImage client:visible src={baseImgUrl + "A.png"} />
    <ClicableImage client:visible src={baseImgUrl + "B.png"} />
    <ClicableImage client:visible src={baseImgUrl + "C.png"} />
    <ClicableImage client:visible src={baseImgUrl + "D.png"} />
    <ClicableImage client:visible src={baseImgUrl + "E.png"} />
    <ClicableImage client:visible src={baseImgUrl + "F.png"} />
    <ClicableImage client:visible src={baseImgUrl + "G.png"} />
    <ClicableImage client:visible src={baseImgUrl + "H.png"} />
    <ClicableImage client:visible src={baseImgUrl + "I.png"} />
    <ClicableImage client:visible src={baseImgUrl + "J.png"} />
    <ClicableImage client:visible src={baseImgUrl + "K.png"} />
    <ClicableImage client:visible src={baseImgUrl + "L.png"} />
    <ClicableImage client:visible src={baseImgUrl + "M.png"} />
    <ClicableImage client:visible src={baseImgUrl + "N.png"} />
    <ClicableImage client:visible src={baseImgUrl + "O.png"} />
    <ClicableImage client:visible src={baseImgUrl + "P.png"} />
    <ClicableImage client:visible src={baseImgUrl + "Q.png"} />
    <ClicableImage client:visible src={baseImgUrl + "R.png"} />
    <ClicableImage client:visible src={baseImgUrl + "S.png"} />
  </div>
</WorkLayout>
