---
import { changeLanguage, t } from "i18next";
import ClicableImage from "../../components/ClicableImage";
import WorkLayout from "../../layouts/WorkLayout.astro";
import cicloExpresso from "../../assets/cicloExpresso/cicloexpresso.png";
import { Image } from "astro:assets";

changeLanguage("en");

const content = {
    title: t("cicloExpresso.title"),
};
---

<WorkLayout {content}>
  <h1 slot="title" class="font-bold md:text-4xl">{t("cicloExpresso.title")}</h1>
  <div slot="description" class="h-fit">
    <p class="prose prose-neutral mb-8 font-sans dark:prose-invert md:text-xl">
      {t("cicloExpresso.description1")}
    </p>

    <p class="prose prose-neutral font-sans dark:prose-invert md:text-xl">
      {t("cicloExpresso.description2")}
    </p>
  </div>
  <div slot="images" class="mt-8 md:mt-0">
    <ClicableImage client:load>
      <Image
        src={cicloExpresso}
        slot={"thumbnail"}
        alt="My life timeline"
        quality="mid"
        height={1000}
      />

      <Image
        src={cicloExpresso}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
      />
    </ClicableImage>
  </div>
</WorkLayout>
