---
import { changeLanguage } from "i18next";
import ClicableImage from "../../components/ClicableImage";
import WorkLayout from "../../layouts/WorkLayout.astro";
import cicloExpresso from "../../assets/cicloExpresso/cicloexpresso.png";
import { Image } from "astro:assets";

changeLanguage("en");

const content = {
  title: "Hello World",
  body: "This is a test",
};
---

<WorkLayout {content}>
  <h1 slot="title" class="mb-8 text-4xl font-bold">Cicloexpresso</h1>
  <div slot="description" class="h-fit">
    <p class="prose prose-neutral mb-5 font-sans text-xl dark:prose-invert">
      Na cadeira de Infografia realizei projetos infográficos para retratar
      vários temas e projetos retratados no programa É P'ra Amanhã. Os projetos
      tinham de ter perspetivas diferentes como sequências de ações,
      user-journey e visão macro.
    </p>

    <p class="prose prose-neutral font-sans text-xl dark:prose-invert">
      A infografia do cicloexpresso retratava a user-journey, objetivos,
      recursos, intervenientes e modelo do serviço.
    </p>
  </div>
  <div slot="images">
    <ClicableImage client:load>
      {/* @ts-ignore */}

      <Image src={cicloExpresso} slot={"thumbnail"} alt="My life timeline" />
      {/* @ts-ignore */}

      <Image
        src={cicloExpresso}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
      />
    </ClicableImage>
  </div>
</WorkLayout>
