---
import { changeLanguage } from "i18next";
import { ScrollArea } from "../../components/ui/ScrollArea";
import MainLayout from "../../layouts/MainLayout.astro";

changeLanguage("pt");

const content = {
    title: "Hello World",
    description: "This is a test page",
    url: "https://example.com",
    image: "https://example.com/image.jpg",
    date: "2021-01-01",
};
---

<MainLayout content={content}>
  <div class="grid grid-cols-2 divide-x">
    <div>
      <ScrollArea
        client:load
        className="flex w-96 flex-col text-left p-4 prose prose-h1:prose-2xl"
      >
        <div>
          <h1 class="font-bold">
            Olá, eu sou a Sofia, uma designer de comunicaçao.
          </h1>
          <div class="mt-4">
            Eu acrescento valor a marcas através de elementos gráficos. Procuro
            a simplicidade e lógica, aplicando um pensamento lateral sempre que
            possível
          </div>
        </div>
        <div class="mt-10">
          <h1 class="font-bold">Formação</h1>
          <p>
            Sou licenciada em Design pela Universidade de Aveiro, onde trabalhei
            com design de produto, gráfico e interação para ter um conhecimento
            mais abrangente do design e perceber a área com que mais me
            identifico.
          </p>
        </div>
      </ScrollArea>
    </div>
    <div class="flex pl-8">
      <div class="w-fit bg-slate-500">hi</div>
    </div>
  </div>
</MainLayout>
