---
import i18next, { changeLanguage, type i18n } from "i18next";
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import timelinePng from "../assets/timeline.png";
import Button from "../components/ui/Button.astro";
import { ScrollArea } from "src/components/ui/ScrollArea";
import {
  Fofinha,
  HoverCardContent,
  HoverCardTrigger,
} from "src/components/ui/HoverCard";

changeLanguage("en");

const content = {
  title: "Hello World",
  description: "This is a test page",
  url: "https://example.com",
  image: "https://example.com/image.jpg",
  date: "2021-01-01",
};
const currentLang = i18next.language.toUpperCase();
---

<MainLayout content={content}>
  <div class="flex flex-col items-center justify-center p-8 md:mt-8 md:pl-48">
    <section class="md:mt-16">
      <div class="prose mb-5 font-sans dark:prose-invert">
        <p class="mb-2">
          Olá. Eu sou a
          <Fofinha client:load />
          , uma designer de comunicação que através dos seus variados gostos e competências
          resolve problemas de comunicação visual para promover conhecimento e marcas.
        </p>

        <p class="mb-12">
          Durante a minha licenciatura em Design na Universidade de Aveiro tive
          a oportunidade de trabalhar em várias áreas do design e descobri o meu
          amor pela vertente gráfica e digital. No mestrado em Design de
          Comunicação da Universidade de Lisboa pude aprofundar os conhecimentos
          nestas áreas e abrir os horizontes sobre o papel do design gráfico na
          sociedade.
        </p>
        <a
          href={`/CV_${currentLang}.pdf`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Button
            size="lg"
            class={`hover:no-underline p-0 font-bold text-2xl`}
            id="logo"
            variant={"link"}
          >
            Curriculum Vitae
          </Button>
        </a>
      </div>
    </section>
    <ScrollArea
      client:only="react"
      className="md:h-[calc(100vh-500px)] h-[calc(100vh-308px)] pb-32 "
      classNameForView="flex flex-col gap-5 "
    >
      <Image src={timelinePng} alt="Timeline" loading={"eager"} />
    </ScrollArea>
  </div>
</MainLayout>
