---
import i18next, { changeLanguage } from "i18next";
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import timelinePng from "../assets/timeline.png";
import Button from "../components/ui/Button.astro";
import ClicableImage from "../components/ClicableImage";

changeLanguage("en");

const content = {
    title: "Hello World",
    description: "This is a test page",
    url: "https://example.com",
    image: "https://example.com/image.jpg",
    date: "2021-01-01",
};
const currentLang = i18next.language.toUpperCase();
---

<MainLayout content={content}>
  <div
    class="grid h-screen grid-cols-1 gap-2 overflow-auto p-8 md:mt-8 md:grid-cols-2 md:pl-48"
  >
    <section class="md:mt-16">
      <div class="prose mb-5 font-sans dark:prose-invert">
        <p class="mb-2">
          Olá. Eu sou a Sofia, uma designer de comunicação que através dos seus
          variados gostos e competências resolve problemas de comunicação visual
          para promover conhecimento e marcas.
        </p>

        <p class="mb-12">
          Durante a minha licenciatura em Design na Universidade de Aveiro tive
          a oportunidade de trabalhar em várias áreas do design e descobri o meu
          amor pela vertente gráfica e digital. No mestrado em Design de
          Comunicação da Universidade de Lisboa pude aprofundar os conhecimentos
          nestas áreas e abrir os horizontes sobre o papel do design gráfico na
          sociedade.
        </p>
        <a
          href={`/CV_${currentLang}.pdf`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Button
            size="lg"
            class={`hover:no-underline p-0 font-bold text-2xl`}
            id="logo"
            variant={"link"}
          >
            Curriculum Vitae
          </Button>
        </a>
      </div>
    </section>
    <ClicableImage
      client:load
      classNamesThumb={"pb-16 md:pb-0 md:max-h-[90%] md:overflow-y-auto no-scrollbar md:-translate-y-16"}
    >
      <Image
        src={timelinePng}
        height={775}
        class={"z-30 self-justify-end"}
        slot={"thumbnail"}
        quality="mid"
        alt="My life timeline"
      />

      <Image
        src={timelinePng}
        slot={"fullImage"}
        alt="My life timeline"
        quality={"max"}
        height={800}
        class={"justify-self-center"}
      />
    </ClicableImage>
  </div>
</MainLayout>
