---
import { changeLanguage, t } from "i18next";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/ui/Button.astro";

changeLanguage("en");

const content = {
    title: "Home",
    description: "Home page",
    url: "https://example.com",
    image: "https://example.com/image.png",
};
---

<MainLayout content={content}>
  <div class="grid h-full content-center justify-center justify-items-center">
    <h2
      class="font-serif relative z-10 bg-black text-4xl font-bold text-white mix-blend-difference md:text-7xl"
    >
      {t("contact")}
    </h2>
    <div
      class="mt-10 grid grid-flow-col grid-rows-2 justify-items-center md:flex md:flex-wrap md:justify-center md:gap-10"
    >
      <a href="mailto:ribeiro.anasofia@gmail.com">
        <Button variant="link">E-mail</Button>
      </a>
      <a href="https://www.linkedin.com/in/sofia-ribeiro-design/">
        <Button variant="link">LinkedIn</Button>
      </a>
      <a href="https://www.instagram.com/ah_sofs">
        <Button variant="link">Instagram</Button>
      </a>
      <Button variant="link">Behance</Button>
    </div>
  </div>
</MainLayout>
