---
import MainLayout from "../layouts/MainLayout.astro";
import instagramSvg from "../../public/instagram.svg";
import linkedInSvg from "../../public/linkedin.svg";
import behanceSvg from "../../public/behance.svg";
import { Button } from "../components/ui/Button";
const content = {
  title: "Home",
  description: "Home page",
  url: "https://example.com",
  image: "https://example.com/image.png",
};
---

<MainLayout content={content}>
  <div class="grid h-full content-center justify-center justify-items-center">
    <h2
      class="relative z-10 bg-black font-serif text-7xl font-bold text-white mix-blend-difference"
    >
      Vamos conversar?
    </h2>
    <div class="mt-6 flex flex-wrap justify-center gap-10">
      <Button variant="link">E-mail</Button>
      <Button variant="link">Instagram</Button>
      <Button variant="link">Behance</Button>
      <Button variant="link">LinkedIn</Button>
    </div>
  </div>
</MainLayout>
