---
import MainLayout from "../layouts/MainLayout.astro";
import instagramSvg from "../../public/instagram.svg";
import linkedInSvg from "../../public/linkedin.svg";
import behanceSvg from "../../public/behance.svg";
const content = {
  title: "Home",
  description: "Home page",
  url: "https://example.com",
  image: "https://example.com/image.png",
};
---

<MainLayout content={content}>
  <div class="w-52">
    <h1 class="text-2xl font-bold">Olá novamente</h1>
    <p class="mt-5">Vamos passar à conversa?</p>
    <p>
      Manda uma mensagem para <a
        class="prose text-red-500"
        href="mailto:ribeiro.anasofia@gmail.com">ribeiro.anasofia@gmail.com</a
      >
    </p>
    <p class="mt-10">Segue-me em</p>
    <div class="mt-2 flex gap-3">
      <a href="https://www.instagram.com/ah_sofs"
        ><img src={instagramSvg} alt="Instagram" srcset="" /></a
      >
      <a href="https://www.linkedin.com/in/sofia-ribeiro-design/"
        ><img src={linkedInSvg} alt="LinkedIn" srcset="" /></a
      >
      <a href=""><img src={behanceSvg} alt="Behance" srcset="" /></a>
    </div>
  </div>
</MainLayout>
