---
// Component Imports

import MainLayout from "../layouts/MainLayout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
const title = "Susu";
const description = "Susu";
const meta = {
  title,
  description,
};
---

<MainLayout content={meta}>
  <div class="grid h-full content-center justify-center">
    <h1 class="prose prose-xl font-bold font-serif text-9xl z-10 relative">
      Sofia
    </h1>
  </div>
  <canvas class="absolute h-screen w-screen top-0 right-0 z-0" id="canvas"
  ></canvas>
  <script>
    import "../scripts/Balls";
  </script>
</MainLayout>
