---
// Component Imports

import MainLayout from "../layouts/MainLayout.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
const title = "Susu";
const description = "Susu";
const meta = {
  title,
  description,
};
---

<MainLayout content={meta}>
  <div class="grid h-full content-center justify-center">
    <h1
      class="prose prose-xl relative z-10 font-serif text-9xl font-bold"
      id="sofia"
    >
      Sofia
    </h1>
  </div>
  <canvas class="absolute top-0 right-0 z-0 h-screen w-screen" id="canvas"
  ></canvas>
  <script>
    import "../scripts/Balls";
    import "../scripts/Surprise";
  </script>
</MainLayout>
