---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
const title = "Susu";
const description = "Susu";
const meta = {
  title,
  description,
};
---

<MainLayout content={meta} class="absolute">
  <div class="grid h-full content-center justify-center">
    <h1
      class="prose relative z-10 bg-black font-serif text-9xl font-bold text-white mix-blend-difference"
      id="sofia"
    >
      {t("home.name")}
    </h1>
  </div>
  <canvas
    class="absolute top-0 right-0 z-0 h-screen w-screen mix-blend-difference"
    id="canvas"></canvas>
  <script>
    import "../scripts/Balls";
  </script>
</MainLayout>
