---
import { changeLanguage } from "i18next";
import { Progress } from "../components/ui/Progress";
import { ScrollArea } from "../components/ui/ScrollArea";
import MainLayout from "../layouts/MainLayout.astro";

changeLanguage("en");

const content = {
  title: "Hello World",
  description: "This is a test page",
  url: "https://example.com",
  image: "https://example.com/image.jpg",
  date: "2021-01-01",
};
---

<MainLayout content={content}>
  <div class="grid grid-cols-2 divide-x">
    <div class="grid grid-cols-2 grid-rows-5 gap-12">
      <div>
        <div>
          Adobe Illustrator
          <Progress client:visible value={50} />
        </div>
        <div>
          Adobe InDesign
          <Progress client:visible value={50} />
        </div>
        <div>
          Figma
          <Progress client:visible value={50} />
        </div>
        <div>
          Sketch
          <Progress client:visible value={50} />
        </div>
        <div>
          MailChimp
          <Progress client:visible value={50} />
        </div>
      </div>
      <div>
        <div>
          Adobe Photoshop
          <Progress client:visible value={50} />
        </div>
        <div>
          Adobe Premiere
          <Progress client:visible value={50} />
        </div>
        <div>
          Fusion 360
          <Progress client:visible value={50} />
        </div>
        <div>
          CSS e HTML
          <Progress client:visible value={50} />
        </div>
        <div>
          Blender
          <Progress client:visible value={50} />
        </div>
      </div>
    </div>
  </div>
</MainLayout>
