---
import Footer from "../components/ui/Footer";
import Header from "../components/ui/Header";

const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title}</title>
  </head>
  <body>
    <div
      class="flex h-screen w-screen cursor-default auto-rows-auto flex-col p-10 dark:bg-black sm:min-h-max md:h-screen lg:h-screen"
    >
      <Header client:load />
      <div class="grow self-stretch p-20">
        <slot />
      </div>
      <Footer />
    </div>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </body>
</html>
