---
import Footer from "../components/ui/Footer";
import Header from "../components/ui/Header";

const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{content.title}</title>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);

      //make the cursor follow the mouse
      document.addEventListener("mousemove", (e) => {
        const cursor = document.querySelector(".movable");
        cursor.style.left = e.pageX + "px";
        cursor.style.top = e.pageY + "px";
      });
    </script>
    <style is:global>
      .movable {
        width: 20px;
        height: 20px;
        background: rgb(254, 254, 254);
        position: fixed;
        z-index: 999999999;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        pointer-events: none;
        mix-blend-mode: difference;
        transition: background 0.5s ease 0s;
      }
    </style>
  </head>
  <body>
    <div
      class="flex h-screen w-screen cursor-none auto-rows-auto flex-col bg-white p-10 dark:bg-black sm:min-h-max md:h-screen lg:h-screen"
    >
      <Header client:load />
      <ins class="movable"></ins>
      <main class="grow self-stretch p-20">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
