---
import Footer from "../components/ui/Footer.astro";
import Header from "../components/ui/Header.astro";
import i18next from "i18next";
import LanguageSelector from "../components/ui/LanguageSelector.astro";
import { localizePath } from "astro-i18next";

const { content } = Astro.props;
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{content.title}</title>
    <script is:inline>
      // credits to satnaing on github
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }

        return "light";
      })();
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }

      //make the cursor follow the mouse
      document.addEventListener("mousemove", (e) => {
        const cursor = document.getElementById("movable");
        cursor.style.left = e.pageX + "px";
        cursor.style.top = e.pageY + "px";
      });
    </script>
  </head>
  <body>
    <div
      class="flex h-screen w-screen cursor-none auto-rows-auto flex-col bg-white font-sans dark:bg-black dark:text-white sm:min-h-max md:h-screen lg:h-screen"
    >
      <Header homeLink={localizePath("/")} workLink={localizePath("/works")} />
      <ins
        class="delay-[0s] duration-[0.5s] ease-[ease] pointer-events-none fixed z-[999999999] h-6 w-6 -translate-x-2/4 -translate-y-2/4 rounded-[50%] bg-white mix-blend-difference transition-[background]"
        id="movable"></ins>
      <main class="grow self-stretch overflow-hidden">
        <slot />
      </main>
      <Footer
        aboutLink={localizePath("/about")}
        contactLink={localizePath("contact")}
      >
        <LanguageSelector />
      </Footer>
    </div>
  </body>
</html>
