---
import { ScrollArea } from "../components/ui/ScrollArea";
import MainLayout from "./MainLayout.astro";
const { content } = Astro.props;
---

<MainLayout {content}>
  <div class="grid grid-cols-2">
    <div class="h-fit md:p-12">
      <slot name="description" />
    </div>
    <div class="flex-1 flex-grow-0">
      <div
        class="fixed top-20 z-10 h-16 w-full bg-gradient-to-b from-white/[0.9] to-white/[0] dark:from-black/90 dark:to-black/0"
      >
      </div>
      <div
        class="fixed bottom-10 z-10 h-20 w-full bg-gradient-to-t from-white/[0.9] to-white/[0] dark:from-black/90 dark:to-black/0"
      >
      </div>
      <ScrollArea
        client:only="react"
        className="h-[calc(100vh-10px)] pb-52 md:pb-44 "
        classNameForView="flex flex-col gap-5"
      >
        <slot name="images" />
      </ScrollArea>
    </div>
  </div>
</MainLayout>
