---
import { t } from "i18next";
import Button from "./Button.astro";

const { homeLink, workLink } = Astro.props;
---

<header
  class="left-0 z-50 flex h-16 w-full place-content-between items-center justify-between bg-transparent px-9 pt-9"
>
  <a href={`${homeLink}`}>
    <Button
      variant={"link"}
      size={"lg"}
      class={`md:text-6xl text-4xl pl-5 hover:no-underline transition-all duration-300 ease-in-out`}
      id="logo"
    >
      S
    </Button>
  </a>
  <a href={`${workLink}`}>
    <Button variant="link" class="font-black md:text-2xl">
      {t("header.work")}
    </Button>
  </a>
</header>

<script>
  //do a random pick of font styles from an array
  const fontStyles = ["font-sans", "font-serif", "font-mono"];
  const randomFontStyle =
    fontStyles[Math.floor(Math.random() * fontStyles.length)];

  //set the font style
  const logo = document.getElementById("logo");
  if (logo) {
    logo.classList.remove("font-sans");
    logo.classList.add(randomFontStyle);
  }
</script>
