---
import { localizePath } from "astro-i18next";
import i18next from "i18next";

export interface Props extends astroHTML.JSX.SelectHTMLAttributes {
  showFlag?: boolean;
}

const currentLanguage = i18next.language;

const { pathname } = Astro.url;
---

<div
  class="flex cursor-none items-center justify-center gap-1 hover:cursor-none"
>
  <button
    class={` text-sm md:text-xl ${
      currentLanguage === "pt"
        ? "font-black hover:pointer-events-none pointer-events-none"
        : "font-light"
    } cursor-none hover:cursor-none`}
    onclick="location = this.value;"
    disabled={currentLanguage === "pt"}
    value={localizePath(pathname, "pt")}
  >
    PT/
  </button>

  <button
    class={` text-sm md:text-xl ${
      currentLanguage === "en"
        ? "font-black hover:pointer-events-none pointer-events-none"
        : "font-light"
    } cursor-none hover:cursor-none`}
    onclick="location = this.value;"
    disabled={currentLanguage === "en"}
    value={localizePath(pathname, "en")}
  >
    ENG
  </button>
</div>
